.main {
    padding-top: 6rem;

    display: flex;
    justify-content: center;
}

.search-results {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8rem;
    justify-items: center;
}

.search-results a {
    width: 100%;
    text-decoration: none;
    color: var(--very-dark-blue-text);
    transition: all .2s;
}

.search-results a:hover {
    box-shadow: .4rem .4rem 2rem rgba(150, 150, 150, 0.6);
}

.error-text {
    justify-self: start;
}

@media only screen and (max-width: 1200px) {
    .search-results {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
    }
}

@media only screen and (max-width: 900px) {
    .search-results {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem;
    }
}

@media only screen and (max-width: 540px) {
    .search-results {
        grid-template-columns: 1fr;
    }
}