.search-input {
    display: flex;
}

.search-input__input {
    width: 50rem;
    height: 6rem;
    padding: 2rem 3rem 2rem 8rem;
    margin-right: 4rem;

    background-image: url(../images/search-solid.svg);
    background-repeat: no-repeat;
    background-size: 2.2rem, 2.2rem;
    background-position: center left 4rem;

    border: none;
    border-radius: .5rem;
    box-shadow: .2rem .2rem 1rem rgba(150, 150, 150, 0.3);

    font-family: inherit;
    font-size: 1.4rem;

    transition: box-shadow .15s ease;
}

.search-input:focus {
    box-shadow: .2rem .2rem 1rem rgba(150, 150, 150, 0.6);
}

.search-input__form label {
    position: absolute;
    transform: translateX(-999rem);
}

.search-input button {
    align-self: flex-end;
}

@media only screen and (max-width: 1200px) {
    .search-input__input {
        width: 40rem;
    }
}

@media only screen and (max-width: 900px) {
    .search-input {
        flex-direction: column;
    }

    .search-input button {
        align-self: flex-start;
        margin-bottom: 2rem;
    }

    .search-input__form {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 540px) {
    .search-input__input {
        width: 100%;
        height: 4rem;
        padding: 0 2rem 0 5rem;
        margin: 0 0 2rem 0;

        background-position: center left 1.5rem;
    }

    .search-input__form {
        margin-bottom: 0;
    }
}