@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    /* Dark Mode */
    --dark-blue-elements: hsl(209, 23%, 22%);
    --very-dark-blue-bg: hsl(207, 26%, 17%);

    /* Light Mode */
    --very-dark-blue-text: hsl(200, 15%, 8%);
    --dark-gray-input: hsl(0, 0%, 52%);
    --very-light-gray-bg: hsl(0, 0%, 98%);

    /* Dark Mode Text & Light Mode Elements */
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    padding-bottom: 6rem;
    
    font-family: Nunito Sans, sans-serif;
    color: var(--very-dark-blue-text);

    background-color: var(--very-light-gray-bg);
}

.width {
    width: 90%;
    max-width: 144rem;
    margin: 0 auto;
}

.btn {
    padding: 1rem 2rem;

    display: inline-block;
    
    border: none;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0 .2rem 1rem rgba(150, 150, 150, 0.3);

    font-family: inherit;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--very-dark-blue-text);
    text-decoration: none;

    cursor: pointer;

    transition: box-shadow .15s ease;
}

.btn:hover {
    box-shadow: 0 .2rem 1rem rgba(150, 150, 150, 0.6);
}

@media only screen and (max-width: 540px) {
    .btn {
        font-size: 1.4rem;
    }

    .btn-clear {
        margin-bottom: 2rem;
    }
}